body {
    background-color: rgb(236, 234, 234);
    padding: 0px;
    margin: 0;
    border: 0;
}
.topo {
    width: 100%;
    top: 0px;
}
.cabecalho {
	background-image: linear-gradient(to right, hsl(156, 48%, 72%), #8ac5df);
    width: 100%;
    top: 0;
    height: 200px;
}
img, p{
    align-items: left;
}
nav{
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #770B83;
    font-family: Century Gothic;
    font-size: 20px;
    padding-top: 1px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 1px;
    word-spacing: 213px;
    width: auto;
    top: 0;
    font-weight: bold;
}
li>a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}
li{
    display: inline;
    text-decoration: none;
}
.boxtext1 {
    margin-top: 5rem;
	margin-right: 7rem;
	margin-left: 7rem;
	border: transparent;
	padding: 35px;
	background-color: white;
    font-family: Microsoft JhengHei Light;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.boxtext2 {
    margin-top: 5rem;
	margin-right: 7rem;
	margin-left: 7rem;
	border: transparent;
	padding-bottom: 35px;
	background-color: white;
    font-family: Microsoft JhengHei Light;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
h1 p {
    color: white;
    background-color: #D81159;
    display: inline;
    font-weight: bold;
}
h1 {
    font-family: Century Gothic;
    font-size: 30px;
    color: #F26157;
}

.boxart {
    margin-top: 5rem;
	margin-right: 7rem;
	margin-left: 7rem;
	border: transparent;
	padding: 15px;
	background-image: linear-gradient(to right, #d81159, #f26157);
    font-family: Microsoft JhengHei Light;
    width: 80%;
    height: 400px;
}
footer {
    background-color: #770B83;
    color: #E4E4E4;
    font-family: Microsoft JhengHei Light;
    font-size: 12px;
    padding: 5rem;
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: 80px;
    text-decoration: none;
}
footer a {
    color: white;
    text-decoration: none;
}
